html {
  background-color:#f2f2f2
}

#top {
  display: flex;
  flex-direction: row;
  max-height: 520px;
  min-height: 500px;
  max-width: 1400px;
  padding-left: 15px;
  padding-bottom:0px;
}

#app {
  display: inline-block;
  position: relative;
}

#photos-home {
  display: inline-block;
}

#about {
  margin-top: 0px;
  max-width: 1220px;
}

div.App__Background-sc-1yy6cbu-0.eHJVFS {
  height: 0px;
}

div.Albums__Container-f4lswq-0.kpLbJK {
  width: 230px;
}

div.sc-AxjAm {
  height: 157.5px;
}

div.App__Outer-sc-1yy6cbu-1.ZoPAK {
  margin: 0px;
}

div.App__Container-sc-1yy6cbu-2.egYcud {
  padding-top: 2px;
  padding-bottom: 2px;
}